<div class="container-Profesor">
    <label for="">Nombre Profesor</label>
    <input type="text" name="" id="" placeholder="Nombre Profesor">
    <button>Registrar</button>
</div>

<div class="container-infoProfesor">
    <h3>Datos</h3>
    <label for="">Nombre: </label>
    <span></span>
    <label for="">Apellido: </label>
    <span></span>
    <label for="">Fecha</label>
    <input type="date">
    <label for="">Hora</label>
    <input type="time" name="" id="">
</div>

<div class="containerTabla">
    <h3>Asistencia Profesor</h3>
    <table>
        <tr>
            <td>
                Nombre Docente
            </td>
            <td>
                Curso
            </td>
            <td>
                Espacio
            </td>
            <td>
                Deporte
            </td>
            <td>
                Estado
            </td>
            <td>
                Elementos
            </td>
        </tr>
    </table>
</div>

<div class="containerMateriales">
    <h4>Materiales Disponibles</h4>
    <p></p>
</div>
<div class="containerMateriales">
    <h4>Materiales Practica</h4>
    <p></p>
</div>
<button>Guardar</button>