
<div class="titulo">
    <h2>Generar Reportes de Asistencia</h2>
</div>
<div class="containerdatos">
    
    <div class="informacion">
        <h4 class="titledatos">Reporte Asistencia de Pasantes</h4>
        <div class="datosPasante">
            <!-- <select name="" id="">
                <option value="">Sede</option>
            </select>
            <select name="" id="">
                <option value="">Periodo</option>
            </select> -->
            <div class="containerpdf">
                <h3>Reporte Asistencia de Pasantes</h3>
                <div style="overflow-x:auto;" id="invoice" #invoice>
                    <table style="width: 100%;" id="Registros">
                        <thead>
                            <tr>
                                <th scope="col">Codigo</th>
                                <th scope="col">Estudiante</th>
                                <th scope="col">Sede</th>
                                <th scope="col">Periodo</th>
                                <th scope="col">Horas</th>
                            </tr>
                        </thead>
                        <tbody id="cuerpo">
                            <tr>
                                <th>1</th>
                                <th>est</th>
                                <th>ing</th>
                                <th>20</th>
                                <th>4</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button>Generar Pdf Pasantes</button>
        </div>
    </div>
    <div class="informacion">
        <h4 class="titlePAS">Reporte Asistencia de Equipos</h4>
        <div class="datosPasante">
            <!-- <select name="" id="">
                <option value="">Sede</option>
            </select>
            <select name="" id="">
                <option value="">Periodo</option>
            </select> -->
            <div class="containerpdf">
                <h3>Reporte Asistencia de Equipos</h3>
                <div style="overflow-x:auto;" id="invoice" #invoice>
                    <table id="Registros">
                        <thead>
                            <tr>
                                <th scope="col">Codigo</th>
                                <th scope="col">Estudiante</th>
                                <th scope="col">Sede</th>
                                <th scope="col">Periodo</th>
                                <th scope="col">Horas</th>
                            </tr>
                        </thead>
                        <tbody id="cuerpo">
                            <tr>
                                <th>1</th>
                                <th>est</th>
                                <th>ing</th>
                                <th>20</th>
                                <th>4</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button>Generar Pdf Equipos</button>
        </div>
    </div>
</div>