
<div class="titulo">
    <h2>Generar Reportes de Asistencia</h2>
</div>
<div class="containerdatos">
    
    <div class="informacion">
        <h4 class="titledatos">Reporte Asistencia de Pasantes</h4>
        <div class="datosPasante">
            <!-- <select name="" id="">
                <option value="">Sede</option>
            </select>
            <select name="" id="">
                <option value="">Periodo</option>
            </select> -->
            <button>Generar Pdf Pasantes</button>
        </div>
    </div>
    <div class="informacion">
        <h4 class="titlePAS">Reporte Asistencia de Equipos</h4>
        <div class="datosPasante">
            <!-- <select name="" id="">
                <option value="">Sede</option>
            </select>
            <select name="" id="">
                <option value="">Periodo</option>
            </select> -->
            <button>Generar Pdf Equipos</button>
        </div>
    </div>
</div>