html{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #00000029;
    /* margin-bottom: 10px; */
    background-color: rgba(117, 7, 7, 0.9);
    color: #000;
    width: 98vw;
    height: 12vh;
    margin: 0px;
}

.datos{
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 463px;
    height: 30px;

}

.nombre{
    background: #000000cc;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.exit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;

}

.encabezado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 940px;
    /* background-color: aqua; */
    height: 12vh;
}

label{
    font-weight: bold;
}

.table-cta{
    position: relative;
}

.texto{
    display: none;
    position: absolute ;
    bottom: -1.5em;
    right: 2em;
    box-shadow: 3px 3px 5px 1px rgba(35, 36, 34, 0.2);
    background-color: rgb(74, 71, 74);
    padding: .3em;
    border-radius: .5em;
    color: #fff;
    width: 80px;
    height: 1.5em;
    font-size: 0.7em;

}

.table-cta:hover,  
    .texto{
      display: block;
      z-index: 1;
}