
.titulo{
    height: 40px;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    padding-left: 15px;
    background-color: rgb(221, 216, 216);
}

.containerdatos{
    
    /* background-color: blueviolet; */
    /* height: 30px; */
    align-items: center;
    display: flex;
    justify-content: center;
    /* margin: 10px; */
    padding: 5px;
    /* padding-left: 25px; */
}

.input{
    width: 45%;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* width: 100px; */
    /* background-color: #ff005d; */
    border: 1px rgb(25, 33, 41) solid;
    height: 112px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.informacion{
    width: 45%;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* width: 100px; */
    /* background-color: #ff005d; */
    border: 1px rgb(25, 33, 41) solid;
    height: 112px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    
}

.titlePAS{
    margin:5px;
    position:fixed;
    left: 855px;
    top:144px;
    background-color: #eee;
    width: 110px;
    border-radius: 12px;
    padding-left: 10px;
}

.ing{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
}

.neg{
    font-weight: bold;
}
input{
    background-color: #eee;
    color: #777;
    padding: 0.3rem 10px;
    width: 50%;
    border-radius: 18px;
    font-size: 0.7rem;
}


  
button{
    border: #707070;
    margin: 10px;
    width: 105px;
    height: 20px;
    border-radius: 50px;
    background: rgb(25, 33, 41);
    color:rgb(236, 241, 246) ;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content:space-around;

    
  }

  button:hover{
    cursor: pointer;
    background: rgba(141, 144, 141, 0.877);
    color: #000;
    
  }


.containfecha{
    display: flex;
    flex-direction: rows;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
}

.fecha{
    width: 70px;
    margin: 5px;
}

.hora{
    margin: 10px;
    width: 90px;
    height: 12px;

}



.titledatos{
    margin:5px;
    position:fixed;
    left: 530px;
    top:144px;
    width: 110px;
    border-radius: 12px;
    padding-left: 10px;
    background-color: #eee;
}

.datosPasante{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 80%;
    
}

.par{
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
}
.pas{
    margin: 2px;
    width: 50%;
    align-items: left;
}

.fondo {
    
    padding: 5px;
    /* background-color: rgba(0, 0, 0, 0.1); */
    /* background-color: #ff005d; */
    display: flex;
    justify-content: center;
}

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

td {
    border: 1px solid #A2ACAF;
    padding-left: 5px;
    width: 20%;
    margin-bottom: 20px;
    background-color: rgb(25, 33, 41);
    font-size: 14px;
    color: aliceblue;
    height: 15px;
}
th{
    border: 1px solid #A2ACAF;
}

select {
    background-color: #eee;
    color: #777;
    padding: 0.3rem ;
    width: 99%;
    border-radius: 16px;
    font-size: 0.7rem;
    height: 24px;
}

.init {
    border: 1px solid #A2ACAF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.containerTabla{
    width: 100%;
}
.end {
    border: 1px solid #A2ACAF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* width: 10%; */
}

.pad {
    padding-left: 35px;
}



.container {
    border: gray solid #00000029;
    border-radius: 20px;
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #000000c5;
    opacity: 1;
    padding: 0 20px 20px 15px;
    width: 98%;
    height: fit-content;
    margin: 10px;
    padding: 15px;
    
}

.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
